:root {
    /* TODO: stop using pixles? */
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --banner-height: 100px;
    --banner-top: 40%;
    --border-color: #E5E7EB;
    /* random sample pulled from pic*/
    --fur-color: rgb(218, 197, 154);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body * {
    /* border: 1px solid black; */
}

body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
}

.big-cat-face {
    width: 30%;
    background-image: url('mickey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

.banner-bar,
.banner-content {
    position: relative;
    height: var(--banner-height);
}

.banner-bar {
    top: var(--banner-top);
    opacity: 0.50;
    background-color: black;
}

.banner-content {
    top: calc(var(--banner-top) - var(--banner-height));
    display: flex;
    justify-content: center;
    font-family: 'Shizuru', cursive;
    color: white;
    align-items: center;
    /* responsive text thingy */
    font-size: 5vw;
}

.banner-content>img {
    /* png has black lines, i want white */
    filter: invert(100%);
    /* margin-right: var(--space-1); */
    /* deliberatly changed to em when i made the parent font size responsive */
    margin-right: 0.25em;
    height: 5vw;
}

/* the text seems to have uneven padding that i can't control
it was not verticaly centered properly */
.banner-content>span {
    position: relative;
    top: -1vh;
}

.content-container {
    flex-grow: 1;
    overflow: auto;
    padding: var(--space-2);
    display: flex;
    flex-direction: column;
    /* TODO: center makes content get cliped when scroll is needed  */
    /* justify-content: center; */
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--space-1);
}

.words {
    font-size: max(1.5vw, 16px);
    min-width: 45ch;    
    max-width: 65ch;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

form {
    /* wrap at 2 inputs, shrink to 1 */
    min-width: 30ch;
    max-width: 65ch;
    flex-shrink: 1;

    margin-top: var(--space-3);
    /* background-color: whitesmoke; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--space-2);
}

form>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

label,
input {
    width: 30ch;
    padding: 5px;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

input {
    border-color: var(--border-color);
    border-style: solid;
}

input:focus {
    outline: 2px solid blue;
    box-shadow: 3px 3px 3px blue;
}

input:required {
    outline: 2px solid purple;
}

input:invalid {
    outline: 2px solid red;
}

.error {
    outline: 2px solid red;
}

button {
    align-self: flex-start;
    margin-top: var(--space-3);
    border-radius: 8px;
    padding: 1ch 4ch;
    font-size: large;
    background-color: var(--fur-color);
}

.footer {
    background-color: gray;
    color: lightgray;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
}

a {
    font-size: large;
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}