:root {
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --banner-height: 100px;
    --banner-top: 40%;
    --border-color: #E5E7EB;
    --fur-color: rgb(218, 197, 154);
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
}

.big-cat-face {
    width: 30%;
    background-image: url('mickey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

.banner-bar,
.banner-content {
    position: relative;
    height: var(--banner-height);
}

.banner-bar {
    top: var(--banner-top);
    opacity: 0.50;
    background-color: black;
}

.banner-content {
    top: calc(var(--banner-top) - var(--banner-height));
    display: flex;
    justify-content: center;
    font-family: Shizuru, cursive, sans-serif;
    color: white;
    align-items: center;
    font-size: 5vw;
}

.banner-content>img {
    filter: invert(100%);
    margin-right: 0.25em;
    height: 5vw;
}

/* the Shizuru & cursive fonts have uneven padding that i can't control, 
not verticaly centered properly 
TODO: is there some way to conditionaly offset?
*/
.banner-content>span {
    position: relative;
    top: -1vh;
}

/* added a container to try to isolate my scroll issue when centering content
nothing usefull yet, going to reprocuce in a simpler version and post question */
.scroll-fix {
    padding: var(--space-2);
    overflow: auto;
    flex-grow: 1;
    display: flex;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /* TODO: center makes content get cliped when scroll is needed  */
    justify-content: center;
    justify-content: flex-start;
    gap: var(--space-1);
}

.words {
    font-size: max(1.5vw, 16px);
    max-width: 65ch;
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}

form {
    /* wrap at 2 inputs, shrink to 1, probably should use grid, but i wanted to force it to work */
    min-width: 32ch;
    max-width: 65ch;
    margin-top: var(--space-3);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--space-2);
}

form>div {
    display: flex;
    flex-direction: column;
}

label,
input {
    width: 30ch;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

input {
    border-color: var(--border-color);
    border-style: solid;
}

input:required:valid,
input:optional:not(:placeholder-shown) {
    outline: 2px solid green;
}

/* required inputs are invalid by default, obnoxious having everything start red
i use the placeholder crap to work around it, untill :blank works
*/
input:invalid:not(:placeholder-shown) {
    outline: 2px solid red;
}

input:focus {
    outline: 2px solid blue;
    box-shadow: 5px 5px 5px blue;
}

.error {
    outline: 2px solid red;
}

button {
    align-self: flex-start;
    border-radius: 8px;
    padding: 1ch 4ch;
    font-size: large;
    background-color: var(--fur-color);
}

.footer {
    background-color: gray;
    color: lightgray;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
}

a {
    font-size: large;
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}

#message {
    color: red;
}