:root {
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --banner-height: 100px;
    --banner-top: 40%;
    --border-color: #E5E7EB;
    --fur-color: rgb(218, 197, 154);/* random sample pulled from pic*/
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body * {
    /* border: 1px solid black; */
}

body {
    background-color: lightgray;
    height: 100vh;
    display: flex;
}

.inputs>div,
.content-container>p,
button {
    margin: var(--space-1);
}

.img-container {
    flex: 1 1 35%;
    /* TODO: origionaly used an img element with height=100%;
    it fucked things up an caused a scrollbar, don't know why, isolate example and ask*/
    background-image: url('mickey.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

.banner-bar {
    position: relative;
    top: var(--banner-top);
    opacity: 0.50;
    background-color: black;
    height: var(--banner-height);
}

.banner-content {
    position: relative;
    height: var(--banner-height);
    top: calc(var(--banner-top) - var(--banner-height));
    display: flex;
    justify-content: center;
    font-family: 'Shizuru', cursive;
    font-size: 64px;
    color: white;
}

.banner-content>img {
    /* full height was too big, tweeked it to be smaller */
    position: relative;
    height: 70%;
    top: 15%;
    /* png is black lines, i want white */
    filter: invert(100%);
    margin-right: var(--space-1);
}

.content-container {
    flex: 1 1 65%;
    align-self: center;
    margin: var(--space-2);
}

form {
    background-color: whitesmoke;
    margin-top: var(--space-3);
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.inputs>div {
    /* picked this size to force it wrap at 2 inputs on large screen */
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
}

button,
input {
    font-family: inherit;
    font-size: 100%;
}

label,
input {
    width: 30ch;
}

input {
    appearance: none;
    border-color: var(--border-color);
    border-style: solid;

}

input:focus {
    outline: 2px solid blue;
    box-shadow: 3px 3px 3px blue;
}

input:required {
    outline: 2px solid red;
}

.error {
    outline: 2px solid red;
}

button {
    border-radius: 8px;
    padding: 1ch 4ch;
    font-size: large;
    background-color: var(--fur-color);
}

.footer {
    background-color: gray;
    color: lightgray;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: end;
}

.footer>a:link,
.footer>a:visited {
    color: lightblue;
}